{% extends "base.html.j2" %}

{% block title %} Settings {% endblock title %}

{% block content %}
<main>
    <h1>Manage Your Prompts</h1>
    <div id="settings-react-app"></div>
</main>
{% endblock content %}
